@use "component";

.posterImg:hover {
animation-name: scaleImg;
animation-duration: 0.2s;
  animation-fill-mode: forwards;

}
/*When hover over posterImg use scaleimg animation with duration and fill-mode forwards   */


.red_ghost{
height: 10em;
width: auto;  
animation-name: moveGhost;
animation-duration: 5s;
animation-iteration-count:infinite;
transition-timing-function: ease-in;
animation-direction: alternate;
margin-top: 5.2em;
margin-bottom: 4em;

}
/*Usa animation moveGhost animation with duration. make it go on infinte, ease-in transtion-timing and alternate (first foward then backward) */
/*Also give height,width and margins */

.pumpkin{
height: 15em;
margin-top: 2em;
display: block;
margin-left: auto;
margin-right: auto;
animation-name: ChangeBackgroundColor;
animation-duration: 3s;
animation-iteration-count:infinite;
transition-timing-function: linear;
animation-direction: alternate-reverse;
max-width: 100%;
}

/*Usa animation ChangeBackgroundColor  animation with duration. make it go on infinte, linear transtion-timing and alternate-reverse (first backward then forward) */
/*Also give height,max-width,display block and margins */

.pumpkin:hover {
animation-name: scaleBigger;
animation-duration:1s;
animation-fill-mode: forwards;

}
/*When hover over pumpkin use scaleBigger animation with duration and fill-mode forwards   */
h1{
color: component.$orange;
font-size: 2.5em;
animation-name: textShadow;
animation-duration: 2s;
animation-iteration-count:infinite;
transition-timing-function: ease;
animation-direction: alternate;
  

}
/*When hover over pumpkin use textShadow animation with duration. make it go on infinte, linear transtion-timing ease and alternate   */






@media screen and (max-width: 1200px){
  
@keyframes moveGhost{

from {
transform: translateX(1em);
 opacity: 0;
}


to {
transform: translateX(14em) scale(1.5);
 opacity: 1;

}

}
}

/*Change keyframes moveGoest when below 1200px   */