@use "component";
*{
  margin: 0;
   padding: 0;
  font-family: component.$font-Family;
  line-height: 1.5em;


}

body{

  background-color: component.$backround_color;
  max-width: 1900px;
    margin: auto;

}


header {
 background-color: component.$darkBrown;
height: 7em;   
display: flex;
justify-content: center ;
padding-top: 1em;

}
footer {

  @extend header;
margin-top: 2em;
}
.footer_para{

color: component.$orange;
font-size: 1.5em;



}
/*
h1{
color: component.$orange;
font-size: 2.5em;

  text-shadow: 6px 10px component.$brown;

}
*/
h2{
@include  component.h2_h3_header(2.2em);
}

h3{
@include  component.h2_h3_header(2em);

}

p {
text-align: center;
font-size: 1.5em;
color: component.$paraColor;

}

.scroller{
display: flex;
overflow-x: auto;

}
    
.posterImg{
padding: 1.5em;
margin: 0.2em;
background-color: component.$lightred;
margin-top: 1em;
cursor: pointer;

}

ul {
 
    list-style-type: none;
li{
  a{
font-size: 2em;
color: component.$orange;
text-decoration:none;

  }
}

}

nav a {

  text-decoration: none;
}




.credit{
font-size: 1.5em;
margin-top: 2em;
margin-left: 2em;

}

.p_credit{

  font-size: 1.5em;
  margin-left: 2em;
}

.tmdb_log{
  display: block;
width: 8em;
height: auto;
margin-top: 1em;
margin-left: auto;
margin-right: auto;

}

.Show_movies{
border: 4px component.$lightred solid ;
margin-top: 2em;
padding-bottom: 1em;


}

#button_remove{
width: 5em;
height: 5em;

}