@use "component";
*{
  margin: 0;
   padding: 0;
  font-family: component.$font-Family;
  line-height: 1.5em;
}

/*Give all margin,padding and font-faily and line-height*/
body{
  background-color: component.$backround_color;
   max-width: 1900px;
   margin: auto;

}
/*Give body elements background-color max-width 1900px and margin auto*/

header {
 background-color: component.$darkBrown;
height: 7em;   
display: flex;
justify-content: center ;
padding-top: 1em;

}

/*Give header background-color, height,display flex and justify-content*/

footer {

  @extend header;
margin-top: 2em;
padding-bottom: 5em;
}

/*get all from header and margi-top*/
.footer_para{
color: component.$orange;
font-size: 1.5em;
}

/*Give footer_para color and font-size*/

h2{
@include  component.h2_h3_header(2.2em);
}

/*Use mixing h2_h3_header and input font-size*/

h3{
@include  component.h2_h3_header(2em);

}

/*Use mixing h2_h3_header and input font-size*/

p {
text-align: center;
font-size: 1.5em;
color: component.$paraColor;
}

/*give p text-align center with color and font-size*/

.scroller{
display: flex;
overflow-x: auto;

}

  /*Display flex and overflow-x (make it so you can scroll movie posters Horizontally )*/

.posterImg{
padding: 1.5em;
margin: 0.2em;
background-color: component.$lightred;
margin-top: 1em;
cursor: pointer;
}

 /*Give padding,margin and backgroundcolor to posterimg also give cursor pointer.*/


ul {
 
    list-style-type: none;
li{
  a{
font-size: 2em;
color: component.$orange;
text-decoration:none;

  }
}
}
 /* Nesting ul list-style-type none. Ul li a font-size and color with text-decoration none.*/

nav a {

  text-decoration: none;
}

/*nav a remove text-dectration*/


.p_credit{

  font-size: 1.5em;
  margin-left: 2em;
}
/*p_credit font-size and margin-left*/

.tmdb_log{
  display: block;
width: 8em;
height: auto;
margin-top: 1em;
margin-left: auto;
margin-right: auto;

}
/*Make tmdb_log display block. With marin, width and height*/

.Show_movies{
border: 4px component.$lightred solid ;
margin-top: 2em;
margin-bottom: 1em;

}
/*Give .show_movies border,margin and padding*/

.watch{
font-size: 1em;
color: component.$orange;

}