$darkBrown: #000000;
$orange : #ff7700;
$lightred : #D5451B;
$brown :rgb(85, 22, 3);
$backround_color : #F4E7E1;
$font-Family: 'Georgia, 'Times New Roman', Times, serif';
$paraColor: #271309;

@mixin h2_h3_header ($font_size) {
 color: $lightred;
text-align: center;
margin-top: 1em;
font-size: $font_size;

}



@keyframes scaleImg{

from {
transform: scale(1);
 opacity: 1;
}


to {
transform: scale(1.1);
 opacity: 0.6;

}
}

@keyframes moveGhost{

from {
transform: translateX(1em);
 opacity: 0;
}


to {
transform: translateX(100em) scale(2);
 opacity: 1;

}
}

@keyframes ChangeBackgroundColor{

0%{
background-color: $orange;



}
25%{ 
    background-color: $lightred;
   

}

50%{
background-color: $brown;  

}

75% {
background-color: $lightred;
}

100% {

    background-color: $orange;
    
 
}

}


@keyframes textShadow{

from{

 text-shadow: 1px 3px $lightred;
}

to{

    
  text-shadow: 8px 12px $brown;
}


}


@keyframes scaleBigger{

from{

transform: scale(1);

}
to{

    transform: scale(2);
}


}

